Explore the structure of the dataset, check for missing values, and handle any necessary data cleaning.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv('netflix.csv')
df

TO check the details present in the data set

In [ ]:
df.info()

To check Null values

In [ ]:
df.isnull()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

To have deeper insight

In [ ]:

df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
show_id,8807,8807,s1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
type,8807,2,Movie,6131,NaN,NaN,NaN,NaN,NaN,NaN,NaN
title,8807,8807,Dick Johnson Is Dead,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
director,6173,4528,Rajiv Chilaka,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
cast,7982,7692,David Attenborough,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
country,7976,748,United States,2818,NaN,NaN,NaN,NaN,NaN,NaN,NaN
date_added,8797,1767,"January 1, 2020",109,NaN,NaN,NaN,NaN,NaN,NaN,NaN
release_year,8807.0,NaN,NaN,NaN,2014.180198,8.819312,1925.0,2013.0,2017.0,2019.0,2021.0
rating,8803,17,TV-MA,3207,NaN,NaN,NaN,NaN,NaN,NaN,NaN
duration,8804,220,1 Season,1793,NaN,NaN,NaN,NaN,NaN,NaN,NaN
listed_in,8807,514,"Dramas, International Movies",362,NaN,NaN,NaN,NaN,NaN,NaN,NaN
description,8807,8775,"Paranormal activity at a lush, abandoned prope...",4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

# checking null values -
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

In [ ]:
df.groupby(["type"]).count()

,show_id,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
type,,,,,,,,,,,
Movie,6131,6131,5943,5656,5691,6131,6131,6129,6128,6131,6131
TV Show,2676,2676,230,2326,2285,2666,2676,2674,2676,2676,2676

Percentage catorization

In [ ]:

df['type'].value_counts(normalize=True) * 100

Movie      69.615079
TV Show    30.384921
Name: type, dtype: float64

To unnest different objects

In [ ]:
constraint1=df['director'].apply(lambda x: str(x).split(', ')).tolist()
constraint1

[['Kirsten Johnson'],
 ['nan'],
 ['Julien Leclercq'],
 ['nan'],
 ['nan'],
 ['Mike Flanagan'],
 ['Robert Cullen', 'José Luis Ucha'],
 ['Haile Gerima'],
 ['Andy Devonshire'],
 ['Theodore Melfi'],
 ['nan'],
 ['Kongkiat Komesiri'],
 ['Christian Schwochow'],
 ['Bruno Garotti'],
 ['nan'],
 ['nan'],
 ['Pedro de Echave García', 'Pablo Azorín Williams'],
 ['nan'],
 ['Adam Salky'],
 ['nan'],
 ['Olivier Megaton'],
 ['nan'],
 ['K.S. Ravikumar'],
 ['Alex Woo', 'Stanley Moore'],
 ['S. Shankar'],
 ['nan'],
 ['Rajiv Menon'],
 ['Dennis Dugan'],
 ['Scott Stewart'],
 ['Robert Luketic'],
 ['Ashwiny Iyer Tiwari', 'Abhishek Chaubey', 'Saket Chaudhary'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Daniel Sandu'],
 ['Cédric Jimenez'],
 ['nan'],
 ['George Nolfi'],
 ['nan'],
 ['nan'],
 ['Steven Spielberg'],
 ['Jeannot Szwarc'],
 ['Joe Alves'],
 ['Joseph Sargent'],
 ['Tyler Greco'],
 ['Daniel Espinosa'],
 ['Bunmi Ajakaiye'],
 ['Antoine Fuqua'],
 ['nan'],
 ['nan'],
 ['Toshiya Shinohara'],
 ['Toshiya Shinohara'],
 ['Toshiya Shinohara'],
 ['Toshiya Shinohara'],
 ['nan'],
 ['Masahiko Murata'],
 ['Hajime Kamegaki'],
 ['Masahiko Murata'],
 ['Hajime Kamegaki'],
 ['Masahiko Murata'],
 ['Hirotsugu Kawasaki'],
 ['Toshiyuki Tsuru'],
 ['Tensai Okamura'],
 ['David Yarovesky'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Hanns-Bruno Kammertöns', 'Vanessa Nöcker', 'Michael Wech'],
 ['nan'],
 ['nan'],
 ['David A. Vargas'],
 ['nan'],
 ['Kemi Adetiba'],
 ['nan'],
 ['Ben Simms'],
 ['nan'],
 ['Prakash Satam'],
 ['Delhiprasad Deenadayalan'],
 ['Delhiprasad Deenadayalan'],
 ['Tomer Eshed'],
 ['Cedric Nicolas-Troyan'],
 ['nan'],
 ['nan'],
 ['JJC Skillz', 'Funke Akindele'],
 ['nan'],
 ['Thomas Sieben'],
 ['nan'],
 ['Marcus Clarke'],
 ['nan'],
 ['Alice Waddington'],
 ['Mona Achache', 'Patricia Tourancheau'],
 ['nan'],
 ['Alexis Almström'],
 ['Raja Gosnell'],
 ['nan'],
 ['Stephen Kijak'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Chapman Way', 'Maclain Way'],
 ['Jason Hehir'],
 ['Yemi Amodu'],
 ['nan'],
 ['Lijo Jose Pellissery'],
 ['nan'],
 ['David de Vos'],
 ['nan'],
 ['nan'],
 ['Luis Alfaro', 'Javier Gómez Santander'],
 ['nan'],
 ['Sara Colangelo'],
 ['Stephen Herek'],
 ['Rahul Rawail'],
 ['Jane Campion'],
 ['Nagesh Kukunoor'],
 ['Luke Holland'],
 ['Shanker Raman'],
 ['JP Habac'],
 ['nan'],
 ['nan'],
 ['Jane Campion'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Vidhu Vinod Chopra'],
 ['Mark Rosman'],
 ['Gilles Paquet-Brenner'],
 ['Lasse Hallström'],
 ['Scott Pleydell-Pearce'],
 ['Ridley Scott'],
 ['nan'],
 ['Neill Blomkamp'],
 ['Phillip Noyce'],
 ['Renny Harlin'],
 ['Anthony Minghella'],
 ['Simon Wincer'],
 ['Lasse Hallström'],
 ['Spike Lee'],
 ['Sebastián Schindel'],
 ['Steven C. Miller'],
 ['Richard LaGravenese'],
 ['Martin Campbell'],
 ['Reginald Hudlin'],
 ['George Jackson', 'Doug McHenry'],
 ['Eric Meza'],
 ['nan'],
 ['Gerhard Mostert'],
 ['Michael Martin'],
 ['Michael Rymer'],
 ['Andrew Lau Wai-keung', 'Alan Mak'],
 ['Brett Weiner'],
 ['nan'],
 ['nan'],
 ['Jim Henson'],
 ['Gary Winick'],
 ['Danishka Esterhazy'],
 ['Troy Byer'],
 ['Pang Ho-cheung'],
 ['nan'],
 ['Tim Burton'],
 ['Reginald Hudlin'],
 ['David Zucker'],
 ['Kinka Usher'],
 ['nan'],
 ['Sergio Leone'],
 ["Matthew O'Callaghan", 'Todd Wilderman'],
 ['Bobby Farrelly', 'Peter Farrelly'],
 ['Wolfgang Petersen'],
 ['Peter Spirer'],
 ['Michael Carney'],
 ['Richard Linklater'],
 ['Amy Rice'],
 ['Antoine Fuqua'],
 ['Randal Kleiser'],
 ['Michael Ritchie'],
 ['J. Lee Thompson'],
 ['Evan Goldberg', 'Seth Rogen'],
 ['Tom Shadyac'],
 ['Peter Segal'],
 ['nan'],
 ['Malcolm D. Lee'],
 ['Wolfgang Petersen'],
 ['nan'],
 ['Chapman Way', 'Maclain Way'],
 ['nan'],
 ['nan'],
 ['Ramzy Bedia', 'Éric Judor'],
 ['nan'],
 ['Sharan Koppisetty'],
 ['Taylor Sheridan'],
 ['Sachin Yardi'],
 ['nan'],
 ['nan'],
 ['Saurabh Kabra'],
 ['Mark Waters'],
 ['nan'],
 ['Kemi Adetiba'],
 ['Partho Mitra'],
 ['Santram Varma'],
 ['Anil V. Kumar', 'Anurag Basu'],
 ['Sangeeth Sivan'],
 ['Umesh Ghadge'],
 ['Sachin Yardi'],
 ['David Dhawan'],
 ['Dibakar Banerjee'],
 ['Apoorva Lakhia'],
 ['Milan Luthria'],
 ['Milan Luthria'],
 ['Pawan Kripalani'],
 ['Bhushan Patel'],
 ['nan'],
 ['nan'],
 ['Magnus Martens'],
 ['Apoorva Lakhia'],
 ['Raj Nidimoru', 'Krishna D.K.'],
 ['Milan Luthria'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Joshua Rofé'],
 ['Brad Anderson'],
 ['Mauricio Dias', 'Tatiana Villela'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Angel Kristi Williams'],
 ['Roger Donaldson'],
 ['Christopher Alender'],
 ['Rush Sturges'],
 ['David Oyelowo'],
 ['nan'],
 ['Mark Lo'],
 ['nan'],
 ['Crystal Moselle'],
 ['Rathindran R Prasad'],
 ['Rathindran R Prasad'],
 ['Rathindran R Prasad'],
 ['Rathindran R Prasad'],
 ['Han Kwang Il'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Karim El Shenawy'],
 ['nan'],
 ['Yin Chen-hao'],
 ['Brian Andrew Mendoza'],
 ['nan'],
 ['Dave Needham'],
 ['Veronica Velasco'],
 ['Drake Doremus'],
 ['Miguel Alexandre'],
 ['Mani Ratnam'],
 ['nan'],
 ['Michael Harte'],
 ['Tosin Igho'],
 ['Mani Ratnam'],
 ['Alice Filippi'],
 ['Paakhi Tyrewala'],
 ['nan'],
 ['Bruno Garotti'],
 ['Laura Brownson'],
 ['nan'],
 ['Steve Brill'],
 ['nan'],
 ['nan'],
 ['Jane Campion'],
 ['Moses Inwang'],
 ['nan'],
 ['Ferdinando Cito Filomarino'],
 ['nan'],
 ['nan'],
 ['Juan Carlos Medina'],
 ['nan'],
 ['nan'],
 ['Inma Torrente'],
 ['nan'],
 ['Julián Gaviria'],
 ['Steven Yamamoto'],
 ['nan'],
 ['Charles Uwagbai'],
 ['Julián Hernández'],
 ['Sam Hobkinson'],
 ['Vince Marcello'],
 ['Jonathan Teplitzky'],
 ['nan'],
 ['Sakon Tiacharoen'],
 ['nan'],
 ['nan'],
 ['Floyd Russ'],
 ['nan'],
 ['Dustin Hoffman'],
 ['Adze Ugah'],
 ['Hideaki Takizawa'],
 ['Quoc Bao Tran'],
 ['nan'],
 ['Bejoy Nambiar',
  'Priyadarshan',
  'Karthik Narain',
  'Vasanth Sai',
  'Karthik Subbaraj',
  'Arvind Swamy',
  'Rathindran R Prasad',
  'Sarjun',
  'Gautham Vasudev Menon'],
 ['Kayode Kasum'],
 ['Just Philippot'],
 ['Kirk DeMicco', 'Brandon Jeffords'],
 ['Rohit Shetty'],
 ['Cavi Borges', 'Luciano Vidigal'],
 ['Alejandro Doria'],
 ['Laura Fairrie'],
 ['Marcelo Piñeyro'],
 ['Izu Ojukwu'],
 ['Peter Winther'],
 ['Susan Lacy'],
 ['nan'],
 ['Billy Corben'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['James Mangold'],
 ['Chineze Anyaene'],
 ['Hsu Fu-chun'],
 ['Kristine Stolakis'],
 ['Eva Müller', 'Michael Schmitt'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Brian Levant'],
 ['Rod Daniel'],
 ['Robert Zemeckis'],
 ['Todor Chapkanov'],
 ['Steven Spielberg'],
 ['Phil Lord', 'Christopher Miller'],
 ['nan'],
 ['Renny Harlin'],
 ['John Hughes'],
 ['Justin Baldoni'],
 ['Joe Roth'],
 ['nan'],
 ['Mark Helfrich'],
 ['nan'],
 ['Mag Hsu', 'Hsu Chih-yen'],
 ['Christopher Nolan'],
 ['Paul Thomas Anderson'],
 ['Nick Castle'],
 ['Howard Zieff'],
 ['Howard Zieff'],
 ['David Feiss'],
 ['David Gordon Green'],
 ['Jorge Blanco'],
 ['Zara Hayes'],
 ['Gary Ross'],
 ['Clint Eastwood'],
 ['Trey Parker'],
 ['Kelly Fremon Craig'],
 ['Tom Elkins'],
 ['Tony Scott'],
 ['Brad Furman'],
 ['Sylvain White'],
 ['Brad Anderson'],
 ['Irwin Winkler'],
 ['Spike Lee'],
 ['Garry Marshall'],
 ['nan'],
 ['Kenneth Gyang'],
 ['Jaume Balagueró'],
 ['nan'],
 ['Najwa Najjar'],
 ['nan'],
 ['Selçuk Metin'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Najwa Najjar'],
 ['Keishi Otomo'],
 ['David Charhon'],
 ['Michelle Bello'],
 ['Steven Tsuchida'],
 ['nan'],
 ['Daniel Markowicz'],
 ['Louie Schwartzberg'],
 ['nan'],
 ['Glen Winter'],
 ['nan'],
 ['nan'],
 ['Ram Gopal Varma'],
 ['David Benullo'],
 ['nan'],
 ['nan'],
 ['Laxman Utekar'],
 ['Royale Watkins', 'Rich Schlansker'],
 ['Yuval Adler'],
 ['nan'],
 ['nan'],
 ['Quentin Tarantino'],
 ['Clay Glen'],
 ['Muzi Mthembu'],
 ['Marcos Bucay'],
 ['Peter Thorwarth'],
 ['nan'],
 ['Kim Seong-hun'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Augustine Frizzell'],
 ['nan'],
 ['nan'],
 ['Sidheswar Shukla'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Binayak Das'],
 ['Arpan Sarkar', 'Shyamal Chaulia'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka', 'Owll Mina'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['Rajiv Chilaka'],
 ['nan'],
 ['Ainsley Gardiner', 'Briar Grace-Smith'],
 ['Mahmoud Karim'],
 ['Kyohei Ishiguro'],
 ['Seyi Babatope'],
 ['nan'],
 ['nan'],
 ['Johane Matte', 'Andrew L. Schmidt', 'Francisco Ruiz Velasco'],
 ['Morgan Ingari'],
 ['nan'],
 ['nan'],
 ['Abdulaziz Alshlahei'],
 ['Edward Drake'],
 ['Kathryn Fasegha'],
 ['Sita Likitvanichkul',
  'Jetarin Ratanaserikiat',
  'Apirak Samudkitpaisan',
  'Thanabodee Uawithya',
  'Adirek Wattaleela'],
 ['nan'],
 ['Leigh Janiak'],
 ['nan'],
 ['Luis Estrada'],
 ['Garrett Bradley'],
 ['Sofia Coppola'],
 ['Colin Trevorrow'],
 ['Bill Condon'],
 ['Bill Condon'],
 ['David Slade'],
 ['Chris Weitz'],
 ['Catherine Hardwicke'],
 ['Hadrah Daeng Ratu'],
 ['nan'],
 ['Tommy Chong'],
 ['Fred Ouro Preto'],
 ['nan'],
 ['Mayye Zayed'],
 ['Alessandra de Rossi'],
 ['nan'],
 ['Ash Brannon', 'Chris Buck'],
 ['Alaa Eddine Aljem'],
 ['Tom Donahue'],
 ['Roberto De Feo', 'Paolo Strippoli'],
 ['Navot Papushado'],
 ['nan'],
 ['nan'],
 ['Manuel Alcalá'],
 ['Ricardo Trogi'],
 ['Semi Chellas'],
 ['nan'],
 ['Akay Mason', 'Abosi Ogba'],
 ['nan'],
 ['Viridiana Lieberman'],
 ['Nima Nourizadeh'],
 ['Daniel Růžička'],
 ['Juraj Šajmovič'],
 ['nan'],
 ['nan'],
 ['Leigh Janiak'],
 ['Femi D. Ogunsanwo'],
 ['Douglas Attal'],
 ['nan'],
 ['nan'],
 ['Kim Joo-hyung'],
 ['Avi Federgreen'],
 ['Jericca Cleland', 'Kevin Munroe'],
 ['nan'],
 ['nan'],
 ['Ahmed Siddiqui'],
 ['nan'],
 ['Hallie Meyers-Shyer'],
 ['Scott Speer'],
 ['nan'],
 ['Barry Levinson'],
 ['Tolulope Itegboje'],
 ['Camille Delamarre'],
 ['nan'],
 ['Pascal Atuma'],
 ['nan'],
 ['Oleg Trofim'],
 ['Seyi Babatope'],
 ['Mahmood Ali-Balogun'],
 ['Jan Holoubek'],
 ['nan'],
 ['Anurin Nwunembom', 'Musing Derrick'],
 ['Christine Luby'],
 ['Udoka Oyeka'],
 ['Yeo Siew Hua'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Hardik Mehta'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Rajveer Singh Maan', 'Harpeet Singh'],
 ['Youssef Chahine'],
 ['nan'],
 ['Saw Teong Hin', 'Nik Amir Mustapha', 'M.S. Prem Nath'],
 ['nan'],
 ['nan'],
 ['Rano Karno'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Pramod Pawar'],
 ['Naresh Saigal'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Leigh Janiak'],
 ['Vinil Mathew'],
 ['Neri Parenti'],
 ['nan'],
 ['Ramsey Nouah'],
 ['Bong Joon Ho'],
 ['Kim Tae-hyung'],
 ['Michael Spierig', 'Peter Spierig'],
 ['Ernie Barbarash'],
 ['Wolfgang Petersen'],
 ['Matt Ogens'],
 ['Jay Roach'],
 ['Jay Roach'],
 ['Jay Roach'],
 ['Paul Thomas Anderson'],
 ['nan'],
 ['McG'],
 ['Frank Marshall'],
 ['Nick Castle'],
 ['Victor Vu'],
 ['Chow Hin Yeung Roy'],
 ['nan'],
 ['Joel Hopkins'],
 ['John Stevenson', 'Mark Osborne'],
 ['Jennifer Yuh Nelson'],
 ['Greg Berlanti'],
 ['Garth Davis'],
 ['Malik Nejer'],
 ['Rob Marshall'],
 ['Martin Brest'],
 ['Shuko Murase'],
 ['Paul W.S. Anderson'],
 ['Garry Marshall'],
 ['Ivan Reitman'],
 ['Joel Gallen'],
 ['Claire McCarthy'],
 ['Mary Lambert'],
 ['Sidharta Tata',
  'Aco Tenriyagelli',
  'Dian Sastrowardoyo',
  'Ifa Isfansyah',
  'Jason Iskandar'],
 ['nan'],
 ['Trevor Nunn'],
 ['nan'],
 ['Gabriele Muccino'],
 ['Jim Field Smith'],
 ['Chris Koch'],
 ['J.J. Abrams'],
 ['Rob Minkoff'],
 ['Lynn Shelton'],
 ['Adam McKay'],
 ['Anton Corbijn'],
 ['Robin Bissell'],
 ['David Fincher'],
 ['John G. Avildsen'],
 ['John G. Avildsen'],
 ['John G. Avildsen'],
 ['Alan Parker'],
 ['Walter Hill'],
 ['Stephen Frears'],
 ['Bryan Bertino'],
 ['Phil Alden Robinson'],
 ['Florian Henckel von Donnersmarck'],
 ['Len Wiseman'],
 ['Måns Mårlind', 'Björn Stein'],
 ['Patrick Tatopoulos'],
 ['Robert O. Peters'],
 ['Vincent Ward'],
 ['Gregory Nava'],
 ['Mary Harron'],
 ['nan'],
 ['Matt Thompson'],
 ['Jameel Buari'],
 ['nan'],
 ['Shen Leping'],
 ['Matt Aselton'],
 ['Jose Javier Reyes'],
 ['Jakub Piątek'],
 ['nan'],
 ['John Dower'],
 ['nan'],
 ['nan'],
 ['B. T Thomas'],
 ['Andrew Dominik'],
 ['nan'],
 ['Nibal Arakji'],
 ['Sofie Šustková'],
 ['Anissa Bonnefont'],
 ['Bahij Hojeij'],
 ['Jonathan Hensleigh'],
 ['Srijit Mukherji', 'Vasan Bala', 'Abhishek Chaubey'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Justin P. Lange'],
 ['Kimmy Gatewood'],
 ['Tània Balló'],
 ['Manolo Caro'],
 ['nan'],
 ['nan'],
 ['Anurin Nwunembom'],
 ['Jayme Monjardim'],
 ['Kingsley Ogoro'],
 ['Kingsley Ogoro'],
 ['nan'],
 ['Cristina Jacob'],
 ['Cristina Jacob'],
 ['Cristina Jacob'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Fernando Moro'],
 ['nan'],
 ['Ivan Andrew Payawal'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Yoshiyuki Tomino', 'Yoshikazu Yasuhiko'],
 ['Yoshiyuki Tomino', 'Yoshikazu Yasuhiko'],
 ['Yoshiyuki Tomino'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Rob Seidenglanz'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Simon Frederick'],
 ['nan'],
 ['Michihito Fujii'],
 ['nan'],
 ['Paul Weitz'],
 ['nan'],
 ['Karthik Subbaraj'],
 ['Kayode Kasum'],
 ['Yoshiyuki Tomino', 'Yoshikazu Yasuhiko'],
 ['Keishi Otomo'],
 ['nan'],
 ['Hsu Fu-chun'],
 ['Lucky Kuswandi'],
 ['Soudade Kaadan'],
 ['Soudade Kaadan'],
 ['nan'],
 ['nan'],
 ['Antoinette Jadaone'],
 ['nan'],
 ['nan'],
 ['Marie Clements'],
 ['David O. Russell'],
 ['nan'],
 ['Achille Brice'],
 ['Max Jabs'],
 ['nan'],
 ['Sarawut Wichiensarn'],
 ['Ricardo de Montreuil'],
 ['nan'],
 ['nan'],
 ['Peter Chelsom'],
 ['Michael Lockshin'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Francine Parker'],
 ['nan'],
 ['Daniel Schechter'],
 ['nan'],
 ['nan'],
 ['Mike Gunther'],
 ['David Zeiger'],
 ['Michael Simon'],
 ['Jerry Rothwell'],
 ['nan'],
 ['Joe Berlinger', 'Bruce Sinofsky'],
 ['Ian Cheney', 'Sharon Shattuck'],
 ['Bradley Parker'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Prabhakaran'],
 ['Manjari Makijany'],
 ['Jay Oliva'],
 ['nan'],
 ['Chris Appelhans'],
 ['Michael Tiddes'],
 ['Lara Saba'],
 ['Bao Nhan', 'Namcito'],
 ['Mark Raso'],
 ['nan'],
 ['Tariq Alkazim'],
 ['Mark Raso'],
 ['Kenneth Gyang'],
 ['nan'],
 ['nan'],
 ['Yulene Olaizola'],
 ['nan'],
 ['Mark Waters'],
 ['nan'],
 ['Matthew Heineman'],
 ['nan'],
 ['Robert Peters'],
 ['Jonathan Clay'],
 ['Ally Pankiw'],
 ['George Ford'],
 ['George Ford'],
 ['nan'],
 ['Lee Kae-byeok'],
 ['nan'],
 ['Jayan Moodley'],
 ['Daniel Benmayor'],
 ['Alex Díaz'],
 ['nan'],
 ['Helena Bergström'],
 ['Alejandro De Grazia', 'Juan Stadler'],
 ['Myriam Fares'],
 ['Chiaki Kon'],
 ['nan'],
 ['Rae Red'],
 ['Lance Hool'],
 ['Nicole Conn'],
 ['Les Mayfield'],
 ['Ellen Seidler', 'Megan Siler'],
 ['nan'],
 ['Roger Christian'],
 ['nan'],
 ['Peter Galison'],
 ['Lance Young'],
 ['Leandro Neri'],
 ['Thom Fitzgerald'],
 ['nan'],
 ['Don Michael Paul'],
 ['Andrzej Bartkowiak'],
 ['Harold Becker'],
 ['nan'],
 ['Andrew Jenks'],
 ['Ric Roman Waugh'],
 ['Rob Reiner'],
 ['Andy Tennant'],
 ['Tade Ogidan'],
 ['nan'],
 ['Scott Spiegel'],
 ['Jessie Nelson'],
 ['Theodore Witcher'],
 ['Clint Eastwood'],
 ['Aurora Guerrero'],
 ['Michael Jai White'],
 ['James McTeigue'],
 ['Takuya Igarashi'],
 ['Michelle MacLaren'],
 ['nan'],
 ['Hidenori Inoue'],
 ['Hidenori Inoue'],
 ['Don Michael Paul'],
 ['Todd Phillips'],
 ['Walter Hill'],
 ['Steve Ball'],
 ['Dominic Sena'],
 ['nan'],
 ['Alan Alda'],
 ['Mika Kaurismäki'],
 ['Sydney Pollack'],
 ['Lorene Scafaria'],
 ['Barbra Streisand'],
 ['Clint Eastwood'],
 ['nan'],
 ['Michael Winterbottom'],
 ['Emma Tammi'],
 ['Peter Hutchings'],
 ['George Ratliff'],
 ['nan'],
 ['Bo Burnham'],
 ['Ekene Som Mekwunye'],
 ['David Frankel'],
 ['Kevin Johnson'],
 ['nan'],
 ['José Larraza', 'Marc Pons'],
 ['Gary Sing'],
 ['nan'],
 ['Julio Quintana'],
 ['nan'],
 ['Paween Purijitpanya'],
 ['nan'],
 ['Pablo Faro'],
 ['Soudade Kaadan'],
 ['Letizia Lamartire'],
 ['Ray Jiang'],
 ['nan'],
 ['nan'],
 ['Daniel Vernon'],
 ['Steve Gukas'],
 ['Tim Johnson'],
 ['nan'],
 ['nan'],
 ['nan'],
 ['Vishwesh Krishnamoorthy'],
 ['nan'],
 ['nan'],
 ['Zack Snyder'],
 ['nan'],
 ['nan'],
 ['Uduak-Obong Patrick'],
 ['nan'],
 ['Mohamed Diab'],
 ['Amr Salama'],
 ['Christopher Amos'],
 ['Prakash Satam'],
 ['nan'],
 ['Robert Rodriguez'],
 ['Milan Luthria'],
 ['David Ayer'],
 ['Eshom Nelms', 'Ian Nelms'],
 ['James Moll'],
 ['nan'],
 ['nan'],
 ['James Redford'],
 ['Kaashvie Nair'],
 ['J.D. Dillard'],
 ['Nikhil Pherwani'],
 ['nan'],
 ['Mae Czarina Cruz'],
 ['nan'],
 ['Praveen Kandregula'],
 ['Cecilia Verheyden'],
 ['Daniel Minahan'],
 ['nan'],
 ['Donovan Marsh'],
 ['Brent Dawes'],
 ['nan'],
 ['nan'],
 ['Leli Maki'],
 ['Uzodinma Okpechi'],
 ['Daniel Prochaska'],
 ['nan'],
 ['Joe Wright'],
 ['nan'],
 ['Matthew Vaughn'],
 ['Aditya Kripalani'],
 ['Adriano Rudiman'],
 ['David Pablos'],
 ['Alexandre Aja'],
 ['nan'],
 ['Cai Cong'],
 ['Samuel Olatunji'],
 ['Ramon Térmens'],
 ['nan'],
 ['Svetlana Cvetko'],
 ['nan'],
 ['Martin Prakkat'],
 ['Baran bo Odar'],
 ['Zhang Chong'],
 ['Yılmaz Erdoğan'],
 ['Shantrelle P. Lewis'],
 ['nan'],
 ['Ivan Ayr'],
 ['Anthony Mandler'],
 ['Vijay Roche'],
 ['nan'],
 ["Stanley Menino D'Costa"],
 ['Jennifer Brea'],
 ['Julia von Heinz'],
 ['Niels Arden Oplev'],
 ['Don Argott', 'Sheena M. Joyce'],
 ['nan'],
 ['Joshua Zeman'],
 ['nan'],
 ['nan'],
 ['Duncan Skiles'],
 ['nan'],
 ['Sean McNamara'],
 ['nan'],
 ['Vondie Curtis-Hall'],
 ['nan'],
 ['Robert Radler'],
 ['Roel Reiné'],
 ['Todd Phillips'],
 ['Dean Parisot'],
 ['Paul Greengrass'],
 ['Lasse Hallström'],
 ['Justin Kelly'],
 ['Eric Darnell', 'Tom McGrath', 'Conrad Vernon'],
 ['nan'],
 ['Suhas Kadav'],
 ['Suhas Kadav'],
 ['Suhas Kadav'],
 ['Suhas Kadav'],
 ['Suhas Kadav'],
 ['Clint Eastwood'],
 ['Jeff Wadlow'],
 ['Charles Martin'],
 ['Stella Corradi'],
 ['Roland Emmerich'],
 ['Kevin Macdonald'],
 ['Ann Deborah Fishman'],
 ['Chris Gorak'],
 ['Peter Jackson'],
 ['Roger Kumble'],
 ['Jonathan Lynn'],
 ['Courtney Hunt'],
 ['Pierre Greco', 'Nancy Florence Savard'],
 ['Andrew Davis'],
 ['Kevin Smith'],
 ['nan'],
 ['Tosin Igho'],
 ['Chaitanya Tamhane'],
 ['Oriol Paulo'],
 ['Mike Rianda', 'Jeff Rowe'],
 ['Johannes Roberts'],
 ['nan'],
 ['Robert Pulcini', 'Shari Springer Berman'],
 ['nan'],
 ['Pedro Antonio'],
 ['nan'],
 ['nan'],
 ['John Wells'],
 ['Jonathan Liebesman'],
 ['Maria Pulera'],
 ['nan'],
 ['Santhosh Viswanath'],
 ['Seema Pahwa'],
 ['nan'],
 ['Ozan Açıktan'],
 ['Meltem Bozoflu'],
 ['Hakan Algül'],
 ['Selçuk Aydemir', 'Birkan Pusa'],
 ['Selçuk Aydemir'],
 ['Ömer Faruk Sorak'],
 ['Şenol Sönmez'],
 ['Alexis Morante'],
 ['Burak Aksak'],
 ['Kıvanç Baruönü'],
 ['Kıvanç Baruönü'],
 ['Rindala Kodeih'],
 ['Kongkiat Khomsiri'],
 ['Bedran Güzel'],
 ['Hakan Algül'],
 ['Marwan Nabil'],
 ['MIKIKO', 'Daito Manabe'],
 ['nan'],
 ['Kayode Kasum'],
 ['Yılmaz Erdoğan', 'Ömer Faruk Sorak'],
 ['Takashi Shimizu'],
 ['nan'],
 ['nan'],
 ['Joe Penna'],
 ...]

In [ ]:

df_new1=pd.DataFrame(constraint1, index=df['title'])
print(df_new1)

                                    0     1     2     3     4     5     6   \
title
Dick Johnson Is Dead   Kirsten Johnson  None  None  None  None  None  None
Blood & Water                      nan  None  None  None  None  None  None
Ganglands              Julien Leclercq  None  None  None  None  None  None
Jailbirds New Orleans              nan  None  None  None  None  None  None
Kota Factory                       nan  None  None  None  None  None  None
...                                ...   ...   ...   ...   ...   ...   ...
Zodiac                   David Fincher  None  None  None  None  None  None
Zombie Dumb                        nan  None  None  None  None  None  None
Zombieland             Ruben Fleischer  None  None  None  None  None  None
Zoom                      Peter Hewitt  None  None  None  None  None  None
Zubaan                     Mozez Singh  None  None  None  None  None  None

                         7     8     9     10    11    12
title
Dick Johnson Is Dead   None  None  None  None  None  None
Blood & Water          None  None  None  None  None  None
Ganglands              None  None  None  None  None  None
Jailbirds New Orleans  None  None  None  None  None  None
Kota Factory           None  None  None  None  None  None
...                     ...   ...   ...   ...   ...   ...
Zodiac                 None  None  None  None  None  None
Zombie Dumb            None  None  None  None  None  None
Zombieland             None  None  None  None  None  None
Zoom                   None  None  None  None  None  None
Zubaan                 None  None  None  None  None  None

[8807 rows x 13 columns]

In [ ]:
df_new1.head(20)

0  title                   Dick Johnson Is Dead
   Director                     Kirsten Johnson
1  title                          Blood & Water
   Director                                 nan
2  title                              Ganglands
   Director                     Julien Leclercq
3  title                  Jailbirds New Orleans
   Director                                 nan
4  title                           Kota Factory
   Director                                 nan
5  title                          Midnight Mass
   Director                       Mike Flanagan
6  title       My Little Pony: A New Generation
   Director                       Robert Cullen
   1                             José Luis Ucha
7  title                                Sankofa
   Director                        Haile Gerima
8  title          The Great British Baking Show
   Director                     Andy Devonshire
9  title                           The Starling
dtype: object

In [ ]:
df_new1=df_new1.stack()
df_new1[:50]

0   level_0                                       0
    Director                   Dick Johnson Is Dead
1   level_0                                       0
    Director                        Kirsten Johnson
2   level_0                                       1
    Director                          Blood & Water
3   level_0                                       1
    Director                                    nan
4   level_0                                       2
    Director                              Ganglands
5   level_0                                       2
    Director                        Julien Leclercq
6   level_0                                       3
    Director                  Jailbirds New Orleans
7   level_0                                       3
    Director                                    nan
8   level_0                                       4
    Director                           Kota Factory
9   level_0                                       4
    Director                                    nan
10  level_0                                       5
    Director                          Midnight Mass
11  level_0                                       5
    Director                          Mike Flanagan
12  level_0                                       6
    Director       My Little Pony: A New Generation
13  level_0                                       6
    Director                          Robert Cullen
14  level_0                                       6
    Director                         José Luis Ucha
15  level_0                                       7
    Director                                Sankofa
16  level_0                                       7
    Director                           Haile Gerima
17  level_0                                       8
    Director          The Great British Baking Show
18  level_0                                       8
    Director                        Andy Devonshire
19  level_0                                       9
    Director                           The Starling
20  level_0                                       9
    Director                         Theodore Melfi
21  level_0                                      10
    Director    Vendetta: Truth, Lies and The Mafia
22  level_0                                      10
    Director                                    nan
23  level_0                                      11
    Director                       Bangkok Breaking
24  level_0                                      11
    Director                      Kongkiat Komesiri
dtype: object

In [ ]:

df_new1=pd.DataFrame(df_new1.reset_index())
df_new1.rename(columns={0:'Director'}, inplace=True)
df_new1.drop(['level_1'], axis=1, inplace=True)
df_new1.head()

   level_0              Director
0        0  Dick Johnson Is Dead
1        0       Kirsten Johnson
2        1         Blood & Water
3        1                   nan
4        2             Ganglands

In [ ]:
df_new1.head(50)

0   level_0                                       0
    Director                   Dick Johnson Is Dead
1   level_0                                       0
    Director                        Kirsten Johnson
2   level_0                                       1
    Director                          Blood & Water
3   level_0                                       1
    Director                                    nan
4   level_0                                       2
    Director                              Ganglands
5   level_0                                       2
    Director                        Julien Leclercq
6   level_0                                       3
    Director                  Jailbirds New Orleans
7   level_0                                       3
    Director                                    nan
8   level_0                                       4
    Director                           Kota Factory
9   level_0                                       4
    Director                                    nan
10  level_0                                       5
    Director                          Midnight Mass
11  level_0                                       5
    Director                          Mike Flanagan
12  level_0                                       6
    Director       My Little Pony: A New Generation
13  level_0                                       6
    Director                          Robert Cullen
14  level_0                                       6
    Director                         José Luis Ucha
15  level_0                                       7
    Director                                Sankofa
16  level_0                                       7
    Director                           Haile Gerima
17  level_0                                       8
    Director          The Great British Baking Show
18  level_0                                       8
    Director                        Andy Devonshire
19  level_0                                       9
    Director                           The Starling
20  level_0                                       9
    Director                         Theodore Melfi
21  level_0                                      10
    Director    Vendetta: Truth, Lies and The Mafia
22  level_0                                      10
    Director                                    nan
23  level_0                                      11
    Director                       Bangkok Breaking
24  level_0                                      11
    Director                      Kongkiat Komesiri
dtype: object

In [ ]:

# unnesting the directors column -
constraint1=df['director'].apply(lambda x: str(x).split(', ')).tolist()
df_new1=pd.DataFrame(constraint1, index=df['title'])
df_new1=df_new1.stack()
df_new1=pd.DataFrame(df_new1.reset_index())
df_new1.rename(columns={0:'Director'}, inplace=True)
df_new1.drop(['level_1'], axis=1, inplace=True)
df_new1.head()

                   title         Director
0   Dick Johnson Is Dead  Kirsten Johnson
1          Blood & Water              nan
2              Ganglands  Julien Leclercq
3  Jailbirds New Orleans              nan
4           Kota Factory              nan

In [ ]:

# unnesting the cast column -
constraint2=df['cast'].apply(lambda x: str(x).split(', ')).tolist()
df_new2=pd.DataFrame(constraint2, index=df['title'])
df_new2=df_new2.stack()
df_new2=pd.DataFrame(df_new2.reset_index())
df_new2.rename(columns={0:'Cast'}, inplace=True)
df_new2.drop(['level_1'], axis=1, inplace=True)
df_new2.head()

                  title            Cast
0  Dick Johnson Is Dead             nan
1         Blood & Water      Ama Qamata
2         Blood & Water     Khosi Ngema
3         Blood & Water   Gail Mabalane
4         Blood & Water  Thabang Molaba

In [ ]:
# unnesting the listed_in column -
constraint3=df['listed_in'].apply(lambda x: str(x).split(', ')).tolist()
df_new3=pd.DataFrame(constraint3, index=df['title'])
df_new3=df_new3.stack()
df_new3=pd.DataFrame(df_new3.reset_index())
df_new3.rename(columns={0:'Genre'}, inplace=True)
df_new3.drop(['level_1'], axis=1, inplace=True)
df_new3.head()

                  title                   Genre
0  Dick Johnson Is Dead           Documentaries
1         Blood & Water  International TV Shows
2         Blood & Water               TV Dramas
3         Blood & Water            TV Mysteries
4             Ganglands          Crime TV Shows

In [ ]:

# unnesting the country column -
constraint4=df['country'].apply(lambda x: str(x).split(', ')).tolist()
df_new4=pd.DataFrame(constraint4, index=df['title'])
df_new4=df_new4.stack()
df_new4=pd.DataFrame(df_new4.reset_index())
df_new4.rename(columns={0:'Country'}, inplace=True)
df_new4.drop(['level_1'], axis=1, inplace=True)
df_new4.head()

                   title        Country
0   Dick Johnson Is Dead  United States
1          Blood & Water   South Africa
2              Ganglands            nan
3  Jailbirds New Orleans            nan
4           Kota Factory          India

Data segrigation

By genere

In [ ]:
df_new3.groupby(['Genre']).agg({"title":"nunique"}).reset_index().sort_values(by=['title'],
                                                                                 ascending=False)

                           Genre  title
16          International Movies   2752
12                        Dramas   2427
7                       Comedies   1674
17        International TV Shows   1351
10                 Documentaries    869
0             Action & Adventure    859
34                     TV Dramas    763
15            Independent Movies    756
4       Children & Family Movies    641
24               Romantic Movies    616
33                   TV Comedies    581
41                     Thrillers    577
8                 Crime TV Shows    470
18                      Kids' TV    451
11                    Docuseries    395
22              Music & Musicals    375
25             Romantic TV Shows    370
14                 Horror Movies    357
30               Stand-Up Comedy    343
23                    Reality TV    255
3               British TV Shows    253
26              Sci-Fi & Fantasy    243
29                 Sports Movies    219
2                   Anime Series    176
28     Spanish-Language TV Shows    174
32         TV Action & Adventure    168
19               Korean TV Shows    151
6                 Classic Movies    116
20                  LGBTQ Movies    102
36                  TV Mysteries     98
27           Science & Nature TV     92
37           TV Sci-Fi & Fantasy     84
35                     TV Horror     75
1                 Anime Features     71
9                    Cult Movies     71
40                 Teen TV Shows     69
13          Faith & Spirituality     65
39                  TV Thrillers     57
21                        Movies     57
31  Stand-Up Comedy & Talk Shows     56
5              Classic & Cult TV     28
38                      TV Shows     16

By country

In [ ]:

df_new4.groupby(['Country']).agg({"title":"nunique"}).reset_index().sort_values(by=['title'],
                                                                                 ascending=False)

            Country  title
119   United States   3689
47            India   1046
127             nan    831
117  United Kingdom    804
22           Canada    445
..              ...    ...
70         Mongolia      1
101         Somalia      1
36         Ethiopia      1
15         Botswana      1
88          Poland,      1

[128 rows x 2 columns]

In [ ]:

# merging the unnested director data with unnested cast data
df_new5=df_new2.merge(df_new1, on=['title'], how='inner')
# merging the above merged data with unnested genre data
df_new6=df_new5.merge(df_new3, on=['title'], how='inner')
# merging the above merged data with unnested country data
df_new=df_new6.merge(df_new4, on=['title'], how='inner')

In [ ]:

# replacing nan values of director and cast by Unknown
df_new['Cast'].replace(['nan'], ['Unknown'], inplace=True)
df_new['Director'].replace(['nan'], ['Unknown'], inplace=True)
df_new['Country'].replace(['nan'], [np.nan], inplace=True)

df_new.head()

,title,Cast,Director,Genre,Country
0,Dick Johnson Is Dead,Unknown,Kirsten Johnson,Documentaries,United States
1,Blood & Water,Ama Qamata,Unknown,International TV Shows,South Africa
2,Blood & Water,Ama Qamata,Unknown,TV Dramas,South Africa
3,Blood & Water,Ama Qamata,Unknown,TV Mysteries,South Africa
4,Blood & Water,Khosi Ngema,Unknown,International TV Shows,South Africa

In [ ]:

# merging our unnested data with the original data
df_final=df_new.merge(df[['show_id', 'type', 'title', 'date_added',
                          'release_year', 'rating', 'duration']],
                          on=['title'], how='left')
df_final.head()

,title,Cast,Director,Genre,Country,show_id,type,date_added,release_year,rating,duration
0,Dick Johnson Is Dead,Unknown,Kirsten Johnson,Documentaries,United States,s1,Movie,"September 25, 2021",2020,PG-13,90 min
1,Blood & Water,Ama Qamata,Unknown,International TV Shows,South Africa,s2,TV Show,"September 24, 2021",2021,TV-MA,2 Seasons
2,Blood & Water,Ama Qamata,Unknown,TV Dramas,South Africa,s2,TV Show,"September 24, 2021",2021,TV-MA,2 Seasons
3,Blood & Water,Ama Qamata,Unknown,TV Mysteries,South Africa,s2,TV Show,"September 24, 2021",2021,TV-MA,2 Seasons
4,Blood & Water,Khosi Ngema,Unknown,International TV Shows,South Africa,s2,TV Show,"September 24, 2021",2021,TV-MA,2 Seasons

In [ ]:

# checking null values again -
df_final.isna().sum() * 100.00 / df_final.shape[0]

title           0.000000
Cast            0.000000
Director        0.000000
Genre           0.000000
Country         5.889866
show_id         0.000000
type            0.000000
date_added      0.078221
release_year    0.000000
rating          0.033170
duration        0.001485
dtype: float64

In [ ]:
# creating seperate dataframes for movies & TV shows -
df_shows=df_final[df_final['type']=='TV Show']
df_movies=df_final[df_final['type']=='Movie']

In [ ]:
#movies
df_movies.groupby(['rating']).agg({"title":"nunique"}).reset_index().sort_values(by=['title'],
                                                                                 ascending=False)[:5]

   rating  title
11  TV-MA   2062
9   TV-14   1427
8       R    797
12  TV-PG    540
7   PG-13    490

In [ ]:
#shows

df_shows.groupby(['rating']).agg({"title":"nunique"}).reset_index().sort_values(by=['title'],
                                                                                ascending=False)[:5]

  rating  title
4  TV-MA   1145
2  TV-14    733
5  TV-PG    323
7  TV-Y7    195
6   TV-Y    176

Movie duration

In [ ]:
df_movies.groupby(['duration']).agg({"title":"nunique"}).reset_index().sort_values(by=['title'],
                                                                                   ascending=False)[:5]

    duration  title
195   90 min    152
198   93 min    146
199   94 min    146
202   97 min    146
196   91 min    144